* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  background-size: cover;
  background: url("./images/img5.jpg") no-repeat center;
  background-blend-mode: darken;
}
